html {
    scroll-behavior: smooth;
    background-color: white;
}

body{
    margin: 0;
    
}

 .content {
    margin: 0;
    max-width: 1100px;
    margin: auto;
    background-color: white;
  }

.oldmain {
    z-index: 10;
    margin: 0;
    position: absolute;
    top: 245px;
    width: 100%;
    max-width: 1000px;

    display: flex;
    flex-direction: row;
    justify-content:space-between;

    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto;
}

img {
    display: block;
    max-width: 100%;
    margin: auto;
    height: auto;
}

p{
    margin: 0;
    padding: 0;
    font-size: 1;
}

h2 {
    font-family: 'Bebas Neue', sans-serif;
    color: #414042;
    font-size: 1;
    margin: 0;
    padding: 0;
}

header{
    padding-top: 40px;
    text-align: center;
}

.title {transition: all .2s ease-in-out;}

.title:hover {
    transform: scale(1.1);
}

#banner {
    position: relative;
    z-index: 3;
    top: 20px;
}

#portal {
   position: relative;
   top: -90px;
   left: 40%;
   z-index: 2;
   transform: 1;
   
}

.cap {
    position: absolute;
    z-index: 8;
    margin: 0;
    padding: 0;
    right: 0;
    left: 0;
    bottom: 330px;
    right: -15px;
    margin: auto;
}

#flex1 {
    display: flex;
    flex-direction: column;
    margin: 0;
    flex-basis:50%;
    line-height: 1.5em;
}

#flex2 {
    display: flex;
    flex-direction: column;
    margin: 0;
    flex-basis:50%;
    line-height: 1.5em;
}

#flex3 {
    display: flex;
    flex-direction: column;
    margin: 0;
    flex-basis:50%;
    line-height: 1.5em;
}

#flex4 {
    display: flex;
    flex-direction: column;
    margin: 0;
    flex-basis:50%;
    line-height: 1.5em;
}

#flex1 ul {
    display: flex;
    flex-direction: column;
}

#flex2 ul {
    display: flex;
    flex-direction: column;
}

#flex3 ul {
    display: flex;
    flex-direction: column;
    align-items: start;
}

#flex4 ul {
    display: flex;
    flex-direction: column;
}

.left {
    margin: 0;
    top: -375px;

    
    display: flex;
    flex-direction: column;
    flex-basis: calc(100%/4);
}

.middle {
    flex-basis: calc(100%/2);
}

.right {
    margin: 0;
    top:-375px;

    display: flex;
    flex-direction: column;
    flex-basis: calc(100%/4);
}

h3 {
    font-family: 'Comic Neue', cursive;
    color: #193740;
    margin: 0;
    padding: 0;
}

ul {
    font-family: 'Comic Neue', cursive;
    color: #42B4CA;
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;  
}


a:link { text-decoration: none; 
    color: #42B4CA}
a:visited { text-decoration: none; 
    color: #42B4CA}
a:hover { text-decoration: none;
    color: #42B4CA;
}
a:active { text-decoration: none; 
    color: #42B4CA}

a {
        box-shadow: inset 0 0 0 0 #42B4CA;
        color: #42B4CA;
        margin: 0 -.25rem;
        padding: 0 .25rem;
        transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}

a:hover {
        box-shadow: inset 200px 0 0 0 #42B4CA;
        color: white;
}


footer {
    font-family: 'Bebas Neue', sans-serif;
    color: #414042;
    font-size: 1.5em;
    text-align: center;
    margin: 0;
    padding: 0;
    margin-top:40px;
}

.head{
    z-index: 12;
    position: relative;
    margin: auto;
    top: -440px;
}

.larm{
    z-index: 11;
    position: relative;
    margin: auto;
    top: -568px;
    left: -130px;
    margin-bottom: -400px;

}

#rick {
    position: absolute;
    margin: auto;
    margin-bottom: -400px;
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto;
    right: 30px;
    top: 10px;

}

.larm {animation: wavingArm 3s ease-in-out infinite;
    top: -566px;
    left: -110px;
    position: relative;
    width: 230px;
    height: auto;
    transform-origin: right;
    margin-bottom: -400px;
}

@keyframes wavingArm {
	0% { 
		transform: rotate(6deg) translate(0px);
	}
	50% { 
		transform: rotate(-20deg) translate(0px);
	}
	100% { 
		transform: rotate(6deg) translate(0px);
	}
}

#nudge {
    position: relative;
    top: 17px;
}


@media only screen and (max-width: 475px) {
   
    #portal {
        width: 100%;
        left: 0%;
     }

     #banner {
        width: 100%;
        left: 0%;
     }
    
    #banner {
        transform: scale(.8);
    }

    #rick {
        transform: scale(.8);
        z-index: 14;
        top: -70px;
        left: 20px;
    }

    #portal {
        transform: scale(.8);
    }
    
    h2 {
        transform: scale(.8);
    }
    
    .head {
        transform: scale(.9);
        top: -420px;
    }

    .portal {
        transform: scale(.8);
    }

    .larm {
        display: none;
    }

    footer{
        transform: scale(.8);
        position: relative;
        top: 320px;
    }

    .oldmain {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-content: center;

        top: 425px;
    }

    #flex1 {
        text-align: center;
        align-items: center;
    }

    #flex2 {
        padding-top: 30px;
        text-align: center;
        align-items: center;
    }

    #flex3 {
        padding-top: 30px;
        text-align: center;
        align-items: center;
    }

    #flex4 {
        padding-top: 30px;
        text-align: center;
        align-items: center;
    }

    #flex3 ul {
        align-items: center;
    }

    .cap {
        transform: scale(.7);
        position: absolute;
        z-index: 8;
        margin: 0;
        padding: 0;
        right: 0;
        left: 0;
        bottom: 464px;
        right: -20px;
        margin: auto;
        display: none;
    }
}

@media only screen and (min-width:475px) and (max-width: 600px) {
    h2 {
        transform: scale(.8);
    }

    footer{
        transform: scale(.8);
    }
    
    #banner {
        transform: scale(.8);
    }

    #rick {
        transform: scale(.8);
        z-index: 14;
        top: -70px;
        left: 20px;
    }

    #portal {
        transform: scale(.8);
    }

    #portal {
        width: 100%;
        left: 0%;
     }

     #banner {
        width: 100%;
        left: 0%;
     }

     #flex1 {
        align-items: flex-end;
        text-align: right;
     }

     #flex2 {
        padding-top: 30px;
        align-items: flex-end;
     }

     #flex3 {
        align-items: flex-start;
        text-align: left;
     }

     #flex4 {
        padding-top: 30px;
        align-items: flex-start;
        text-align: left;
     }

     .cap {
        display: none;
     }
}

@media only screen and (min-width:600px) and (max-width: 900px) {
    #portal {
        width: 100%;
        left: 0%;
     }

     #banner {
        width: 100%;
        left: 0%;
     }

     #flex1 {
        align-items: flex-end;
        text-align: right;
     }

     #flex2 {
        padding-top: 30px;
        align-items: flex-end;
     }

     #flex3 {
        align-items: flex-start;
        text-align: left;
     }

     #flex4 {
        padding-top: 30px;
        align-items: flex-start;
        text-align: left;
     }
}

@media only screen and (min-width: 900px) {
    #portal {
        left: 0%;
     }

     #banner {
        width: 100%;
        left: 0%;
    }

    .left {
        flex-direction: row;
        flex-basis: calc(100%/3);
        
    }

    .middle {
        flex-basis: calc(100%/3);
    }

    .right {
        flex-direction: row;
        flex-basis: calc(100%/3);
        
    }

    

    #flex1 {
        padding-left: 50px; 
        padding-right: 10px;  
        align-items: flex-end;
        text-align: right;
     }

     #flex2 {
        align-items: flex-end;
        padding-left: 10px;
        padding-right: 10px;  
     }

     #flex3 {
        align-items: flex-start;
        text-align: left;
        padding-left: 10px;
        padding-right: 10px;
     }

     #flex4 {
        align-items: flex-start;
        text-align: left;
        padding-left: 10px;
        padding-right: 50px;
     }
}