* {
	box-sizing: border-box;
}

body {
	font-family: Arial;
	color: #333;
    font-family: "ocr-a-std", monospace;
    max-width: 1200px;
}

main {
    position: relative;
    margin-left: 250px;

    z-index: 10;
}

p {
	line-height: 1.5em;
}

#fig1{
    display: block;
	margin: 0;
    height: 100%;
	width: 100%;
	position: fixed;
	top:0;
	right:0;

    z-index: 6;
}

div img {
    top: -100px;
    width: 100%;
    height: auto;
	position: absolute;
    transition: all 3s ease;

    z-index: 6;
}


#orbit1 {
    position: absolute;
    top: -100px;
}


figure figcaption{
	width:453.3px;
    height: 256px;
	position: absolute;
	left: 65%;
	top: 105%;
	transform: translateX(-50%);
}

.start {
	top: 105%;
}

.enter {
	animation-name: movein;
	animation-delay: .5s;
	animation-duration: 1s;
	animation-fill-mode: forwards;
	animation-timing-function: cubic-bezier(0.075, 0.820, 0.165, 1.000);	
}

.exit {
	animation-name: moveout;
	animation-duration: 700ms;
	animation-fill-mode: forwards;
	animation-timing-function: cubic-bezier(0.600, 0.040, 0.980, 0.335);
}

@keyframes movein {
	0%{
		top: 105%;
	}
	100% {
		top: 50%;
	}
}

@keyframes moveout {
	0%{
		top: 50%;
	}
	100% {
		top: -20%;
	}
}




figure {
	display: block;
	margin: 0;
    height: 100%;
	width: 100%;
	position: fixed;
	top:0;
	right:0;

    z-index: 5;
}

figure img {
	width: 100%;
    height: auto;
	position: absolute;
    transition: all 3s ease;
}

.picture1{
    top: 0%;
    left: 0%;
    transform: scale(1);
    transition: 3s ease;

}

.picture2 {
    top: 0%;
    left: 15%;
    transform: scale(1.6);
    transition: 3s ease;
}

.picture3 {
    top: 10%;
    left: -60%;
    transform: scale(2.2);
    transition: 3s ease;
}

.picture4 {
	top: -10%;
    left: 0%;
    transform: scale(2.3);
    transition: 3s ease;
}

.picture5 {
    top: 0%;
    left: 10%;
    transform: scale(1.7);
    transition: 3s ease;
}









section {
    box-sizing: border-box;
    /* border: 5px solid #d3e019; */
    margin: 50px;
    padding: 20px;
    height: calc(100vh - 200px);
    display: grid;
    place-content: center;
    text-align: center;
    transition: all .5s;
    color: white;
}

.offscreen {
    border: 5px solid white;
    background-color: rgba(159, 232, 255, .4);
    border-radius: 3px;

    width: 200px;
	padding: 20px;

    left: 50%;
    transform:translateX(-50%);

    font-size: .5em;
}

.onscreen {
    border: 5px solid white;
    background-color: rgba(159, 232, 255, .4);
    border-radius: 10px;

    width: 300px;
	padding: 20px;

    left: 50%;
    transform:translateX(-50%);
}


#star1 {
    position: relative;
    top: 500px;
    left: 300px;
}








.stars1{
    top: -10%;
    left: 0%;
    transform: scale(1);
    transition: 3s ease;

}

.stars2 {
    top: -68%;
    left: 35%;
    transform: scale(1.6);
    transition: 3s ease;
}

.stars3 {
    top: -40%;
    left: -60%;
    transform: scale(1.9);
    transition: 3s ease;
}

.stars4 {
	top: -5%;
    left: -32%;
    transform: scale(2.3);
    transition: 3s ease;
}

.stars5 {
    top: 50%;
    left: 0%;
    transform: scale(1.7);
    transition: 3s ease;
}