* {
	box-sizing: border-box;
}

body {
	font-family: Arial;
	color: #333;
}

main {
    position: relative;
    margin-left: 200px;

    z-index: 10;
}

section {
	height: 100%;
}

p {
	line-height: 1.5em;
}

figure {
	display: block;
	margin: 0;
    height: 100%;
	width: 100%;
	position: fixed;
	top:0;
	right:0;

    z-index: 5;
}

figure img {
	width: 100%;
    height: auto;
	position: absolute;
	transition: all 3s ease;
}

.picture1{
	top:0;
	left: 50%;
	transform:translateX(-50%);
}

.picture2 {
    top: 0;
    left: 15%;
    transform: scale(1.4);
}

.picture3 {
    top: -10%;
    right: 20%;
    transform: scale(1.5);

}

.picture4 {
	top: calc(-2567px + 100vh);
    left: 50%;
}

.picture5 {
    top: calc(-2567px + 100vh);
    left: 50%;
}




section {
    box-sizing: border-box;
    /* border: 5px solid #d3e019; */
    border-radius: 10px;
    margin: 50px;
    padding: 20px;
    height: calc(100svh - 200px);
    display: grid;
    place-content: center;
    text-align: center;
    transition: all .5s;
    color: white;
}

.offscreen {
    border: 5px solid white;
    background-color: rgba(159, 232, 255, .4);

    width: 200px;
	padding: 20px;

    left: 50%;
    transform:translateX(-50%);

    font-size: .5em;
}

.onscreen {
    border: 5px solid white;
    background-color: rgba(159, 232, 255, .4);

    width: 300px;
	padding: 20px;

    left: 50%;
    transform:translateX(-50%);
}